.change-management-view {
  margin: 103px 0 0;
}

////////// Change management title, servicios ////////
.change-management-view__main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.change-management-view__main-box1 {
  margin: 65px 0 120px;
  max-width: 678px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    .change-management-view__main-title {
      color: #2d3645;
      font-size: remify(30px);
      margin: 0 0 0 10px;
    }
    .change-management-view__main-servicios {
      color: #cecece;
      font-size: remify(23px); 
      margin: 15px 0;
    }
    .change-management-view__main-subtitle {
      color: #2d3746;
      font-size: remify(15px);
      text-align: center;
      line-height: 1.47
    }
}

.cm-container {
  display: flex;
  align-items: center;
    .cm-hex {
      display: flex;
      justify-content: center;  
      align-items: center;
      background-image: url(../img/servicios_hex.svg);
      background-repeat: no-repeat;
      background-size: contain;
      width: 40px;
      height: 40px;
        img {
          margin: 0 0 3px 0;
        }
    }
}

.change-management-view__main-box2 {
  position: absolute;
  max-width: 738px;
  min-height: 103px;
  padding: 18px 63px 
  display: flex;
  flex-direction: column;
  background-color: #eaeaea;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14), 0 2px 4px 0 rgba(0, 0, 0, 0.31);
  bottom: -13%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
    p {
      color:#2d3645;
      font-size: remify(14px);
      line-height: 1.29;
      text-align: center;
    }
    span {
      color: #2d3645;
      font-size: remify(14px);
      align-self: flex-end;
      margin: 10px 0 0;
    }
}

.change-management__hex1 {
    background-image: url(../img/exa_3.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 14.06em;
    height: 15.62em;
    position: absolute;
    top: 20px;
    left: 0;
}
////////////// Hexagons //////////////////
.change-management-view__steps {
  background-color: #2d3645;
  min-height: 25.43em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.change-management-view__steps-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.change-management-view__steps-box1 {
  max-width: 258px;
    p {
      color: #ffffff;
      font-size: remify(15px);
      line-height: 1.47
    }
}

.change-management-view__steps-box2 {
  display: flex;
  min-height: 11.56em;
    .cm-hex1, .cm-hex2, .cm-hex3, .cm-hex4 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: url(../img/servicios_hex.svg);
      background-size: contain;
      background-repeat: no-repeat;
      width: 135px;
      height: 122px;
    }
  .cm-hex5 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/hex_line.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 135px;
    height: 122px;
  }  
}

.cm-hex1, .cm-hex3, .cm-hex5  {
  align-self: flex-start;
}

.cm-hex2, .cm-hex4 {
  align-self: flex-end;
}

.cm-hex__content {
  display: flex;
  flex-direction: column;
  max-width: 85px;
  padding: 0 0 0 10px;
    p {
      color: #2d3645;
      font-size: remify(12px);
    }
    span {
      color: #2d3645;
      font-size: remify(11px);
      align-self: flex-start;
    }
}

.cm-hex__content2 {
    p {
      color: #eaeaea;
      font-size: remify(12px);
      text-align: center;
    }
}

.change-management__hex2 {
    background-image: url(../img/exa_2.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 14.06em;
    height: 15.62em;
    position: absolute;
    bottom: 0;
    right: 0;
}
////////////// Desarrollo de Proyectos ///////////

.change-management-view__desarrollo-container {
  margin: 111px 0 117px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  center-block();
    .cm-paragraph {
      color: #2d3645;
      font-size: remify(15px);
      line-height: 1.47;
      width: 391px;
    }
    .cm-ruler {
      display: flex;
      border-top: solid 1px #eaeaea;
      width: 341px;
      transform: rotate(90deg);
    }
}

.cm-table__container {
  display: flex;
  flex-direction: column;
    img {
      margin: 19px 0 0 0
    }
}