.change-management-view {
  margin: 103px 0 0;
}

.change-management-view__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.change-management-view__main-box1 {
  margin: 65px 0 68px;
  max-width: 678px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    .change-management-view__main-title {
      color: #2d3645;
      font-size: remify(30px);
      margin: 0 0 15px;
    }
    span {
      color: #cecece;
      font-size: remify(23px);
      margin: 0 0 20px;
    }
    .change-management-view__main-subtitle {
      color: #2d3746;
      font-size: remify(15px);
      text-align: center;
      line-height: 1.47
    }
}

.change-management-view__main-box2 {
  max-width: 738px;
  min-height: 103px;
  padding: 18px 63px 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14), 0 2px 4px 0 rgba(0, 0, 0, 0.31);
    p {
      color:#2d3645;
      font-size: remify(14px);
      line-height: 1.29;
      text-align: center;
    }
    span {
      color: #2d3645;
      font-size: remify(14px);
      align-self: flex-end;
    }
}

.change-management-view__steps {
  background-color: #2d3645;
}

.change-management-view__steps-container {
  display: flex;
  justify-content: space-around;
}

.change-management-view__steps-box1 {
  max-width: 258px;
    p {
      color: #ffffff;
      font-size: remify(15px);
      line-height: 1.47
    }
}

.change-management-view__steps-box2 {
  display: flex;
    .cm-hex {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: url(../img/servicios_hex.svg);
      background-size: contain;
      background-repeat: no-repeat;
      width: 135px;
      height: 122px;
    }
  .cm-hex__1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/hex_line.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 135px;
    height: 122px;
  }  
}

.cm-hex__content {
  display: flex;
  flex-direction: column;
  max-width: 85px;
  padding: 0 0 0 10px;
    p {
      color: #2d3645;
      font-size: remify(12px);
    }
    span {
      color: #2d3645;
      font-size: remify(11px);
      align-self: flex-start;
    }
}