/////// Coaching ejecutivo title ///////
.coaching-ejecutivo__main {
  margin: 103px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
    .coaching-ejecutivo__main-title {
      margin: 56px 0 15px;
      color: #2d3645;
      font-size: remify(30px);
    }
    span {
      color: #cecece;
      font-size: remify(23px);
      margin: 0 0 30px;
    }
    .coaching-ejecutivo__main-subtitle {
      width: 45em;
      color: #2d3746;
      font-size: remify(15px);
      line-height: 1.47;
      text-align: center;
      margin: 0 0 60px;
    }
}

////////// Compare tables ///////////
.coaching-ejecutivo__table {
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 66px 120px 129px 90px;
}

.coaching-ejecutivo__table-box1 {
  display: flex;
  flex-direction: column;
  width: 325px;
  // margin: 66px 0 200px 0;
    .ce-box__ruler {
      border-top: solid 1px #a2e12d;
      width: 302px;
      margin: 25px 0;
    }
    .ce-box__list {
      img {
        margin: 0 15px 0 0;
        align-self: flex-start;
      }
      ul {
        display: flex;
        flex-direction: column;
        color: #313b4b;
        font-size: remify(14px);
        line-height: 1.57;
      }
      li {
        margin: 20px 0 0;
        display: flex;
      }
    }
}

.coaching-ejecutivo__table-ruler {
  border-right: solid 1px #2d3645;
  height: 39.75em;
  margin: -25px 0 0;
}

//////////// ROI //////////
.coaching-ejecutivo__roi {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coaching-ejecutivo__roi-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2d3645;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14);
  width: 46.12em;
  padding: 0 62px 0;
    p {
      color: #a2e12d;
      font-size: remify(14px);
      margin: 25px 0 10px 0;
    }
    span {
      color: #ffffff;
      font-size: remify(14px);
      text-align: center;
      line-height: 1.29;
      margin: 0 0 29px 0;
    }
}

/////// Diferencias y similitudes ////////
.coaching-ejecutivo__diff {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 164px 0 0;
    p {
      color: #2d3645;
      font-size: remify(30px);
      width: 471px;
      line-height: 1.33;
      text-align: center;
    }
    img {
      margin: 60px 0 0;
    }
}