/////// Coaching ejecutivo title ///////
.coaching-ejecutivo__main {
  margin: 103px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
    .coaching-ejecutivo__main-servicios {
      color: #cecece;
      font-size: remify(23px);
      margin: 12px 0 35px;
    }
    .coaching-ejecutivo__main-subtitle {
      width: 45em;
      color: #2d3746;
      font-size: remify(15px);
      line-height: 1.47;
      text-align: center;
      margin: 0 0 60px;
    }
}

.coaching-ejecutivo__main-container {
  display: flex;
  align-items: center;
  margin: 65px 0 0;
    .ce-hex {
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url(../img/servicios_hex.svg);
      background-repeat: no-repeat;
      background-size: contain;
      width: 40px;
      height: 40px;
        img {
          margin: 0 0 5px 0;
        }
    }
    .coaching-ejecutivo__main-title {
      color: #2d3645;
      font-size: remify(30px);
      margin: 0 0 0 5px;
    }
}

////////// Compare tables ///////////
.coaching-ejecutivo__table {
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 66px 120px 129px 90px;
}

.coaching-ejecutivo__table-box1 {
  display: flex;
  flex-direction: column;
  width: 325px;
    p {
      color: #2d3645;
      font-size: remify(17px);
      line-height: 1.47;
    }
    .ce-box__title {
      line-height: 1.47;
        span {
          color: #2d3645;
          font-size: remify(17px);
        }
        span:nth-child(2) {
          color: #a2e12d;
        }
    }
    .ce-box__ruler {
      border-top: solid 1px #a2e12d;
      width: 302px;
      margin: 25px 0;
    }
    .ce-box__list {
      img {
        margin: 0 15px 0 0;
        align-self: flex-start;
      }
      ul {
        display: flex;
        flex-direction: column;
        color: #313b4b;
        font-size: remify(14px);
        line-height: 1.57;
      }
      li {
        margin: 20px 0 0;
        display: flex;
      }
    }
}

.coaching-ejecutivo__table-ruler {
  border-right: solid 1px #2d3645;
  height: 39.75em;
  margin: -25px 0 0;
}

//////////// ROI //////////
.coaching-ejecutivo__roi {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coaching-ejecutivo__roi-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2d3645;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14);
  width: 46.12em;
  padding: 0 62px 0;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  top: -65px;
    p {
      color: #a2e12d;
      font-size: remify(14px);
      margin: 25px 0 10px 0;
    }
    span {
      color: #ffffff;
      font-size: remify(14px);
      text-align: center;
      line-height: 1.29;
      margin: 0 0 29px 0;
    }
}

/////// Diferencias y similitudes ////////
.coaching-ejecutivo__diff {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 164px 0 0;
    p {
      color: #2d3645;
      font-size: remify(30px);
      width: 471px;
      line-height: 1.33;
      text-align: center;
    }
    img {
      margin: 60px 0 0;
    }
}

//////// Preguntas a considerar ///////
.coaching-ejecutivo__questions {
  display: flex;
  align-items: center;
  margin: 118px 0 0;
  background-color: #2d3645;
}

.coaching-ejecutivo__questions-img {
  background-image: url(../img/chairs_coaching-ejecutivo.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 377px;
  height: 387px;
}

.coaching-ejecutivo__questions-content {
  display: flex;
  flex-direction: column;
  center-block();
    .coaching-ejecutivo__questions-content__title {
      color: #ffffff;
      font-size: remify(26px);
      width: 471px;
      line-height: 1.46;
    }
}

.ce-mainbox {
  display: flex;
  flex-direction: column;
}

.ce-box1, .ce-box2 {
  display: flex;
    p {
      color: #ffffff;
      font-size: remify(19px);
      width: 24.68em;
      line-height: 1.26;
      margin: 0 0 0 22px;
    }
    .ce-hex__green {
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url(../img/hex_green.svg)
      width: 37.8px;
      height: 34.2px;
      color: #2d3645;
      font-size: remify(15px);
    }
}

.ce-box1 {
  margin: 34px 0; 
}

///////// Programa Standar de Coaching ///////
.coaching-ejecutivo__program {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coaching-ejecutivo__program-title {
  color: #2d3645;
  font-size: remify(30px);
  margin: 80px 0 45px;
}

.coaching-ejecutivo__program-container {
  display: flex;
  margin: 0 0 88px 0;
  width: 41.25em;
  background-color: #29313f;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  padding: 23px 20px 23px 41px;
}

.coaching-ejecutivo__program-box1 {
  ul {
    color: #ffffff;
    font-size: remify(15px);
  }
  li {
    width: 209px;
    display: flex;
    line-height: 1.47;
  }
  li:nth-child(2) {
    margin: 35px 0 0;
  }
  img {
    margin: 5px 7px 0 0;
    align-self: flex-start;
  }
}

.coaching-ejecutivo__program-box2 {
  border-right: solid 1px #f3f3f3;
  height: 17.06em;
  margin: 0 27px 0;
}

.coaching-ejecutivo__program-box3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
    .ce-box3-title {
      color: #a2e12d;
      font-size: remify(15px);
      margin: 0 0 7px 0;
    }
    .ce-box3-subtitle {
      color: #ffffff;
      font-size: remify(15px);  
    }
    .ce-box3-subtitle2 {
      color: #e3e3e3;
      font-size: remify(11px);
      margin: 0 0 0 12px;
    }
    .ce-box3-shape {
      color: #a2e12d;
      font-size: remify(15px);
    }
}

.ce-box3__duracion {
  width: 13.06em;
}

.ce-box3__icf {
  display: flex;
  justify-content: center;
  width: 15em;
  line-height: 1.47;
    span {
      color: #a2e12d;
      margin: 0 5px 0 0;
    }
}