*
  margin: 0
  padding: 0

.carousel-1
  position: relative;
  width: 100%;

.slick-slide img
  max-width 100%;

.index-banner
  position: absolute;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;

.index-banner-box1
  display: flex;
.index-banner-box1__title1
  color: #ffffff;
  font-size: remify(45px);
  text-align: center;

.index-banner-box1__title2
  color: #fc4e44;
  font-size: remify(45px);
  text-align: center;
  padding-left: remify(13px);

.index-banner-box2__title_3
  color: #ffffff;
  font-size: remify(23px);
  text-align: center;
  margin-top: 48px;

// Slick Carousel

.slick-dots {
  position: absolute;
  bottom: 4%;
  left: 43%;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 10px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: 1;
  color: #e14b45;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #d8d8d8;
}

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}