//////////// Banner ///////////
.quienes-somos-view__header {
  width: 100vw;
  height: 410px;
  background-color: #2d3645;
  display: flex;
  justify-content: center;
  align-items: center;
}

///////////// Title /////////////
.quienes-somos-view__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    p {
      font-size: remify(45px);
      color: #28303f;
      margin: 81px 0 45px;
    }
    span {
      font-size: remify(15px);
      color: #2d3746;
      line-height: 1.47;
      max-width: 700px;
      text-align: center;
      margin: 0 0 88px;
    }
}

//////////// Nuestra Cultura //////////
.quienes-somos-view__nuestra-cultura {
  max-width: 900px;
  center-block();
  display: flex;
  flex-direction: column;

    .quienes-somos-view__nuestra-cultura__box1 {
      color: #2d3746;
      font-size: remify(30px);
      letter-spacing: 0.4px;
      margin: 0 0 64px;
    }
}

.quienes-somos-view__nuestra-cultura__box2 {
  display: flex;
  justify-content: space-between;
}

.quienes-somos-view__nuestra-cultura-card {
  display: flex;
  flex-direction: column;
    
    .nc-hex {
      background-image: url(../img/servicios_hex.svg);
      background-size: cover;
      width: 80.2px;
      height: 72.7px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .nc-title {
      color: #2d3746;
      text-transform: uppercase;
      margin: 13px 0 0;
      font-size: remify(15px); 
    }

    .nc-subtitle {
      color: #2d3746;
      font-size: remify(12px);
      line-height: 1.25;
      margin: 13px 0 0;
    }
}

.nc-card1 {
  width: 176px;
}

.nc-card2 {
  width: 184px;
}

.nc-card3 {
  width: 403px
}

.nc-hex__rule {
  border-top: solid 1px #eaeaea;
  width: 100%;
  margin: 17.7px 0 0 
}

.nc-card3__subbox {
  display: flex;
  flex-direction: row;
}

.subbox-1 {

  p {
    color: #2d3746;
    font-size: remify(12px);
    margin: 15px 0 10px;
  }

  span{
    color: #2d3746;
    font-size: remify(12px);
  } 
}

.subbox-2 {
  margin: 0 0 0 20px;
  p {
    color: #2d3746;
    font-size: remify(12px);
    margin: 15px 0 10px;
  }

  span{
    color: #2d3746;
    font-size: remify(12px);
  } 
}