.servicios-view__title {
  font-size: remify(45px);
  color: #313b4b;
  text-align: center;
  margin-top: 84px;
}

.servicios-view__container {
  margin-top: 117px;
  display: flex;
  flex-wrap: wrap;
}