.servicios-view {
  padding: 85px 0 157px;
  position: relative;
}

.servicios-view__title {
  font-size: remify(45px);
  color: #313b4b;
  text-align: center;
  margin: 84px 0 117px
}

.servicios-view__container {
  max-width: 50em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 65px 0 0;
  center-block();
}

.hex2:hover {
  background-image: url(../img/hoover_hex.svg)
}

.servicios__hex1 {
  background-image: url(../img/exa_3.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 225px;
  height: 250px;
  position: absolute;
  top: 100px;
  left: 0;
}

.servicios__hex2 {
  background-image: url(../img/exa_2.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 250px;
  height: 250px;
  position: absolute;
  top: 100px;
  right: 0;
}

.servicios__hex3 {
  background-image: url(../img/exa_4.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 250px;
  height: 250px;
  position: absolute;
  bottom: 0;
  right: -13px;
}