.servicios-view {
  padding: 82px 0 157px;
}

.servicios-view__title {
  font-size: remify(45px);
  color: #313b4b;
  text-align: center;
  margin: 84px 0 117px
}

.servicios-view__container {
  max-width: 50em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 65px 0 0;
  center-block();
}

.hex2:hover {
  background-image: url(../img/hoover_hex.svg)
  z-index: 10;
}