////////// Workshops servicios ///////////
.workshops-view__main {
  margin: 103px 0 0;
  display: flex;
  max-width: 1280px;
  center-block();
  justify-content: space-between;
}

.workshops-view__box1 {
  display: flex;
  flex-direction: column;
  max-width: 385px;
  margin: 0 0 0 150px;
  
    .workshops-view__box1-title {
      color: #2d3645;
      font-size: remify(30px);
      margin: 45px 0 0;
    }
    span {
      color: #cecece;
      font-size: remify(23px);
      margin: 10px 0 0;
    }
    .workshops-view__box1-subtitle {
      color: #2d3746;
      font-size: remify(15px);
      margin: 10px 0 0;
      line-height: 1.47;
    }
}

////////// ¿En qué se basan? /////////
.workshops-view__sec1 {
  background-color: #2d3645;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: -5px 0 0;
    p {
      color: #ffffff;
      font-size: remify(30px);
      margin: 106px 0 30px;
    }
    span {
      color: #ffffff;
      font-size: remify(15px);
      line-height: 1.47;
      width: 46.87em;
      text-align: center;
      margin: 0 0 79px;
    }
}
//////////// Qué esperar de los workshops //////////
.workshops-view__sec2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    p {
      color: #2d3645;
      font-size: remify(30px);
      margin: 50px 0 30px 0;
    }
    span {
      color: #313b4b;
      font-size: remify(15px);
      line-height: 1.47;
      width: 46.87em;
      text-align: center;
    }
    .ws-ruler {
      width: 53.18em;
      border-top: solid 1px #e7e7e7;
      margin: 65px 0 55px;
    }
}

/////////// Nuestros Workshops //////////////
.workshops-view__sec3-title {
  color: #2d3645;
  font-size: remify(30px);
  text-align: center;
}