{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
Change management
{% endblock %}

{% block content %}
<section class="change-management-view">
  {# Change Management title, servicos #}
  <div class="change-management-view__main">
    <div class="change-management-view__main-box1"> 
      <div class="cm-container">
        <span class="cm-hex"><img src="img/management.png" width="20" height="20"></span>
        <p class="change-management-view__main-title evoke-montserrat-bold">Change Management</p>
      </div>
      <a href="servicios.html" class="change-management-view__main-servicios"><span class="evoke-montserrat-light">Servicios</span></a>
      <p class="change-management-view__main-subtitle evoke-gandhisans-regular">Cuando una organización está buscando hacer un gran cambio para <b>lograr un resultado</b>, son tan importantes los procesos, estrategias y prácticas organizacionales como lo son las personas y <b>su relación con el cambio.</b> Para que un cambio pueda ser sustentable, el proceso mecánico tiene que ser acompañado de forma orgánica para que tanto las personas, como la organización puedan experimentarse con una nueva identidad, nuevos valores y nuevas creencias que se alineen con el propósito que quiere crear.</p>
    </div>
    <div class="change-management-view__main-box2">
      <p class="evoke-gandhisans-regular">“Son una empresa dedicada a generar cambios positivos en empresas, organizaciones e instituciones a través del desarrollo de su gente, la mejora de sus procesos y la alineación con su cultura”</p>
      <span class="evoke-gandhisans-bold">- CEO Think Better</span>
    </div>
    <div class="change-management__hex1" data-aos="zoom-out" data-aos-offset="200" data-aos-duration="1000" data-aos-easing="ease-in-sine"></div>
  </div>  
  {# Hexagons #}
  <div class="change-management-view__steps">
    <div class="change-management-view__steps-container">
      <div class="change-management-view__steps-box1">
        <p class="evoke-gandhisans-regular">Nos dedicamos a generar impacto positivo en empresas a través del desarrollo de su gente, la mejora de sus procesos y la alineación con su cultura.</p>
      </div>
      <div class="change-management-view__steps-box2">
        <div class="cm-hex1">
          <div class="cm-hex__content">
            <span class="evoke-montserrat-bold cm-hex__no">1.</span>
            <p class="evoke-montserrat-bold cm-hex__info">Objetivo basado en valores</p>
          </div>
        </div>
        <div class="cm-hex2">
          <div class="cm-hex__content">
            <span class="evoke-montserrat-bold cm-hex__no">2.</span>
            <p class="evoke-montserrat-bold cm-hex__info">Mejora de procesos</p>
          </div>  
        </div>
        <div class="cm-hex3">
          <div class="cm-hex__content">
            <span class="evoke-montserrat-bold cm-hex__no">3.</span>
            <p class="evoke-montserrat-bold cm-hex__info">Desarrollo de capacidades</p>
          </div>  
        </div>
        <div class="cm-hex4">
          <div class="cm-hex__content">
            <span class="evoke-montserrat-bold cm-hex__no">4.</span>
            <p class="evoke-montserrat-bold cm-hex__info">Modelo de liderazgo</p>
          </div>  
        </div>
        <div class="cm-hex5">
          <div class="cm-hex__content2">
            <p class="evoke-montserrat-light">Para liderar la transformación</p>
          </div>
        </div>
      </div>
    </div>
    <div class="change-management__hex2" data-aos="zoom-out" data-aos-offset="200" data-aos-duration="1000" data-aos-easing="ease-in-sine"></div>
  </div>
  {# Desarrollo de Proyectos #}
  <div class="change-management-view__desarrollo">
    <div class="change-management-view__desarrollo-container">
      <p class="evoke-gandhisans-regular cm-paragraph">Identificamos los factores del entorno que son mayormente responsables de estimular el cambio organizacional a través de un diagnóstico inicial. Describimos la brecha de desempeño y desarrollamos un plan de acción para alcanzar los resultados en un tiempo determinado. A través workshops, coaching ejecutivo, programas de mentoría y shadow coaching garantizamos el aprendizaje de todos los individuos durante el proceso. Acompañamos el proceso de cambio con el fin de monitorear tanto las reacciones de los empleados como los resultados.</p>
      <div class="cm-ruler"></div>
      <div class="cm-table__container">
        <p class="evoke-montserrat-semibold">Ej. Desarrollo de proyecto</p>
        <img src="img/desarrollo_table.png" alt="" width="326" height="250">
      </div>
    </div>
  </div>
</section>
{% endblock %}