{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
change-management
{% endblock %}

{% block content %}
<section class="change-management-view">
  {# Change Management title, servicos #}
  <div class="change-management-view__main">
    <div class="change-management-view__main-box1">
      <p class="change-management-view__main-title evoke-montserrat-bold">Change Management</p>
      <span class="evoke-montserrat-light">Servicios</span>
      <p class="change-management-view__main-subtitle evoke-gandhisans-regular">Cuando una organización está buscando hacer un gran cambio para lograr un resultado, son tan importantes los procesos, estrategias y prácticas organizacionales como lo son las personas y su relación con el cambio. Para que un cambio pueda ser sustentable, el proceso mecánico tiene que ser acompañado de forma orgánica para que tanto las personas, como la organización puedan experimentarse con una nueva identidad, nuevos valores y nuevas creencias que se alineen con el propósito que quiere crear.</p>
    </div>
    <div class="change-management-view__main-box2">
      <p class="evoke-gandhisans-regular">“Son una empresa dedicada a generar cambios positivos en empresas, organizaciones e instituciones a través del desarrollo de su gente, la mejora de sus procesos y la alineación con su cultura”</p>
      <span class="evoke-gandhisans-bold">- CEO Think Better</span>
    </div>
  </div>  
  {# Hexagons #}
  <div class="change-management-view__steps">
    <div class="change-management-view__steps-container">
      <div class="change-management-view__steps-box1">
        <p class="evoke-gandhisans-regular">Nos dedicamos a generar impacto positivo en empresas a través del desarrollo de su gente, la mejora de sus procesos y la alineación con su cultura.</p>
      </div>
      <div class="change-management-view__steps-box2">

        <div class="cm-hex">
          <div class="cm-hex__content">
            <span class="evoke-montserrat-bold cm-hex__no">1.</span>
            <p class="evoke-montserrat-bold cm-hex__info">Objetivo basado en valores</p>
          </div>
        </div>

        <div class="cm-hex">
          <div class="cm-hex__content">
            <span class="evoke-montserrat-bold cm-hex__no">2.</span>
            <p class="evoke-montserrat-bold cm-hex__info">Mejora de procesos</p>
          </div>  
        </div>

        <div class="cm-hex">
          <div class="cm-hex__content">
            <span class="evoke-montserrat-bold cm-hex__no">3.</span>
            <p class="evoke-montserrat-bold cm-hex__info">Desarrollo de capacidades</p>
          </div>  
        </div>

        <div class="cm-hex">
          <div class="cm-hex__content">
            <span class="evoke-montserrat-bold cm-hex__no">4.</span>
            <p class="evoke-montserrat-bold cm-hex__info">Modelo de liderazgo</p>
          </div>  
        </div>
        
        <div class="cm-hex__1">
          <p>Para liderar la transformación</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}