{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
Coaching-ejecutivo
{% endblock %}

{% block content %}
<section class="coaching-ejecutivo-view">
  {# Coaching ejecutivo title #}
  <div class="coaching-ejecutivo__main">
    <p class="evoke-montserrat-bold coaching-ejecutivo__main-title">Coaching ejecutivo</p>
    <span class="evoke-montserrat-light">Servicios</span>
    <p class="evoke-gandhisans-regular coaching-ejecutivo__main-subtitle">El coaching ejecutivo es un proceso uno-a-uno en el que un coach ejecutivo profesional ayuda al cliente a aprender en lugar de enseñarle. La finalidad de este proceso de acompañamiento creativo es destapar el potencial de las personas para incrementar su desempeño. </p>
  </div>
  {# Compare tables #}
  <div class="coaching-ejecutivo__table">
    <div class="coaching-ejecutivo__table-box1">
        <p class="evoke-montserrat-bold">Beneficios del coaching</p>
      <div class="ce-box__title">
        <span class="evoke-montserrat-bold">ejecutivo</span>
        <span class="evoke-montserrat-bold">para la persona</span>
      </div>
      <div class="ce-box__ruler"></div>
      <div class="ce-box__list">
        <ul class="evoke-montserrat-regular">
          <li> <img src="img/minihex_blue.svg" alt=""> Satisfacción de vida y trabajo</li>
          <li> <img src="img/minihex_blue.svg" alt=""> Autoconocimiento e inteligencia emocional</li>
          <li> <img src="img/minihex_blue.svg" alt=""> Enfoque y seguimiento en estrategias ejecutivas y planes de acción</li>
          <li> <img src="img/minihex_blue.svg" alt=""> Trabajo de equipo y coordinación de acciones</li>
          <li> <img src="img/minihex_blue.svg" alt=""> Habilidades de coaching, comunicación efectiva y retroalimentación</li>
          <li> <img src="img/minihex_blue.svg" alt=""> Habilidades gerenciales y de liderazgo</li>
          <li> <img src="img/minihex_blue.svg" alt=""> Abrir el pensamiento y mejorar la toma de decisiones</li>
          <li> <img src="img/minihex_blue.svg" alt=""> Crecimiento en su carrera profesional</li>
        </ul>
      </div>
    </div>
    <div class="coaching-ejecutivo__table-ruler"></div>
    <div class="coaching-ejecutivo__table-box1">
      <div class="ce-box__title">
        <p class="evoke-montserrat-bold">Beneficios del coaching ejecutivo</p>
        <span class="evoke-montserrat-bold">para la persona</span>
      </div>
      <div class="ce-box__ruler"></div>
      <div class="ce-box__list">
        <ul class="evoke-montserrat-regular">
          <li> <img src="img/minihex_blue.svg" alt=""> Mejora en clima organizacional</li>
          <li> <img src="img/minihex_blue.svg" alt=""> Desarrollo de líderes potenciales</li>
          <li> <img src="img/minihex_blue.svg" alt=""> Transición efectiva a puestos de liderazgo</li>
          <li> <img src="img/minihex_blue.svg" alt=""> Reducción en el micromanagement</li>
          <li> <img src="img/minihex_blue.svg" alt=""> Efectividad y productividad</li>
          <li> <img src="img/minihex_blue.svg" alt=""> Mejorar la relación con clientes y socios</li>
          <li> <img src="img/minihex_blue.svg" alt=""> Alineación con visión, misión y valores de la organización</li>
          <li> <img src="img/minihex_blue.svg" alt=""> Planeación y enfoque sobre los objetivos de la organización</li>
          <li> <img src="img/minihex_blue.svg" alt=""> Innovación y mejores tomas de decisiones en tiempos de incertidumbre</li>
        </ul>
      </div>
    </div>
  </div>
  {# ROI #}
  <div class="coaching-ejecutivo__roi">
    <div class="coaching-ejecutivo__roi-container">
      <p class="evoke-gandhisans-bold">ROI en el Coaching</p>
      <span class="evoke-gandhisans-regular">PriceWaterhouseCoopers y la Association Resource Centre encontraron que el promedio de Retorno sobre Inversión en el coaching era de 7 veces la inversión inicial, y más de un cuarto de los clientes de coaching reportaron un impresionante resultado de Retorno sobre Inversión de 10 a 49 veces su costo</span>
    </div>
  </div>
  {# Diferencias y similitudes #}
  <div class="coaching-ejecutivo__diff">
    <p class="evoke-montserrat-bold">Diferencias y similitudes con la consultoría y terapia</p>
    <img src="img/graph_coaching.png" alt="" width="750" height="450">
  </div>
  {# Preguntas a considerar #}
  <div class="coaching-ejecutivo__questions">
    <div class="coaching-ejecutivo__questions-img"></div>
    <div class="coaching-ejecutivo__questions-content">
      <p class="evoke-montserrat-bold coaching-ejecutivo__questions-content__title">Preguntas a considerar para una relación de coaching exitosa</p>
      <div class="ce-mainbox">
        <div class="ce-box1">
          <span class="evoke-montserrat-regular ce-hex__green">1</span>
          <p class="evoke-gandhisans-regular">¿El ejecutivo está verdaderamente motivado a cambiar?</p>
        </div>
        <div class="ce-box2">
          <span class="evoke-montserrat-regular ce-hex__green">2</span>
          <p class="evoke-gandhisans-regular">¿Existe un verdadero compromiso de la dirección general con desarrollar a este ejecutivo?</p>
        </div>
      </div>
    </div>
  </div>
  {# Programa Standar de Coaching #}
  <div class="coaching-ejecutivo__program">
    <p class="evoke-montserrat-bold coaching-ejecutivo__program-title">Programa Standard de Coaching</p>
    <div class="coaching-ejecutivo__program-container">
      <div class="coaching-ejecutivo__program-box1">
        <ul class="evoke-montserrat-regular">
          <li><img src="img/hex_green.svg" alt="" width="10" height="9">Feedback 360 electrónico</li>
          <li><img src="img/hex_green.svg" alt="" width="10" height="9">Entrevistas con los stakeholders clave para tener retroalimentación adicional antes, a mitad y al final del proceso</li>
        </ul>
      </div>
      <div class="coaching-ejecutivo__program-box2"></div>
      <div class="coaching-ejecutivo__program-box3">
        
      </div>
    </div>
  </div>
</section>
{% endblock %}