{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
{# Carousel #}
<section class="carousel-1">
  <div class="section-carousel-1">
    <div>
      <img src="img/banner_index_elon.png" alt="">
    </div>
    <div>
      <img src="img/banner_index_elon.png" alt="">
    </div>
    <div>
      <img src="img/banner_index_elon.png" alt="">
    </div>
  </div>
  {# Title #}
  <div class="index-banner">
    <div class="index-banner-box1">
      <p class="evoke-montserrat-bold index-title_1">Evoke my</p>
      <span class="evoke-montserrat-bold index-title_2">greatness</span>
    </div>
    <div class="index-banner-box2">
      <p class="evoke-montserrat-medium index-title_3">Retamos y desarrollamos líderes hacia su siguiente nivel de desempeño.</p>
    </div>
  </div>
</section>
{% endblock %}