{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
{# Carousel #}
<section class="carousel-1">
  <div class="section-carousel-1">
    <div>
      <img src="img/banner_index_elon.png" alt="">
    </div>
    <div>
      <img src="img/banner_index_elon.png" alt="">
    </div>
    <div>
      <img src="img/banner_index_elon.png" alt="">
    </div>
    <div>
      <img src="img/banner_index_elon.png" alt="">
    </div>
  </div>
  {# Title #}
  <div class="index-banner">
    <div class="index-banner-box1">
      <p class="evoke-montserrat-bold index-banner-box1__title1">Evoke my</p>
      <span class="evoke-montserrat-bold index-banner-box1__title2">greatness</span>
    </div>
    <div class="index-banner-box2">
      <p class="evoke-montserrat-medium index-banner-box2__title_3">Retamos y desarrollamos líderes hacia su siguiente nivel de desempeño.</p>
    </div>
  </div>
</section>
{# Conoce mas #}
<section>
  <div class="index-somos">
    <div class="index-somos-box1">
      <p class="evoke-montserrat-medium">Somos una empresa dedicada a generar cambios positivos en empresas, organizaciones e instituciones a través del desarrollo de su gente, la mejora de sus procesos y la alineación con su cultura. Estamos convencidos de que los procesos y estrategias solo funcionan cuando son congruentes con la identidad y mentalidad de las personas</p>
      <span class="evoke-montserrat-medium">Conoce más</span>
    </div>
  </div>
</section>
{% endblock %}