{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
{# Carousel #}
<section class="carousel-1">
  <div class="section-carousel-1">
    <div class="section-carousel-1__bg"></div>
    <div class="section-carousel-1__bg"></div>
    <div class="section-carousel-1__bg"></div>
    <div class="section-carousel-1__bg"></div>
  </div>
  {# Title #}
  <div class="index-banner">
    <div class="index-banner-box1">
      <p class="evoke-montserrat-bold index-banner-box1__title1">Evoke my</p>
      <span class="evoke-montserrat-bold index-banner-box1__title2">greatness</span>
    </div>
    <div class="index-ruler"></div>
    <div class="index-banner-box2">
      <p class="evoke-montserrat-medium index-banner-box2__title_3">Retamos y desarrollamos líderes hacia su siguiente nivel de desempeño.</p>
    </div>
    <div class="index-banner-box3">
      <div class="circle"></div>
      <div class="stick"></div>
    </div>
  </div>
</section>
{# Conoce mas #}
<section class="somos">
  <div class="index-somos">
    <div class="index-somos-box1">
      <p class="evoke-gandhisans-regular">Somos una empresa dedicada a generar cambios positivos en empresas, organizaciones e instituciones a través del desarrollo de su gente, la mejora de sus procesos y la alineación con su cultura. Estamos convencidos de que los procesos y estrategias solo funcionan cuando son congruentes con la identidad y mentalidad de las personas</p>
      <span class="evoke-montserrat-medium main-button somos-button">Conoce más</span>
    </div>
    <div class="index-somos__ruler"></div>
  </div>
</section>
{# Servicios #}
<section class="servicios">
  <p class="evoke-montserrat-bold servicios-title">Servicios</p>
  <div class="servicios-container"> {# container with all hexagons #}
    <div class="servicios__card"> 
      <div class="hex1">
        <a href="change-management.html"><img src="img/management.png" alt="engrane" width="125" height="116"></a>
      </div>
      <p class="evoke-montserrat-medium">Change Management</p>
      <div class="servicios__card-hr"></div>
      <div class="servicios__card-vr1"></div>
    </div>
    <div class="servicios__card"> 
      <div class="hex1">
        <a href="coaching-ejecutivo.html"><img src="img/coaching.png" alt="engrane" width="95" height="98"></a>
      </div>
      <p class="evoke-montserrat-medium">Coaching Ejecutivo</p>
      <div class="servicios__card-hr"></div>
    </div>
    <div class="servicios__card"> 
      <div class="hex1">
        <a href="workshops.html"><img src="img/workshops.png" alt="engrane" width="89" height="93"></a>
      </div>
      <p class="evoke-montserrat-medium">Workshops</p>
      <div class="servicios__card-vr2"></div>
    </div>
    <div class="servicios__card"> 
      <div class="hex1">
        <a href="mastermind.html"><img src="img/mastermind.png" width="79" height="104"></a>
      </div>
      <p class="evoke-montserrat-medium">Mastermind</p>
    </div>            

  </div>
</section>
{# Blog #}
<section class="blog">
  <p class="evoke-montserrat-bold blog-title">Blog</p>
  <div class="blog-box1">
    <div class="blog-box2__img">
      <img src="img/foto_blog_1.png" alt="hands" width="934px" height="247">
      <div class="blog-box2__mask"></div>
    </div>
    <div class="blog-box-content">
      <span class="evoke-gandhisans-italic blog-box-content__admin">By admin In Blog Posted April 17, 2017</span>
      <p class="evoke-montserrat-semibold blog-box-content__title">Competencias complejas</p>
      <div class="blog-ruler"></div>
      <p class="evoke-gandhisans-regular blog-box-content__paragraph">La gestión por competencias llevada al mundo laboral, hace evidente la inadecuada relación entre los sistemas educativo - productivo, y la necesidad de buscar un modelo de competencias que haga posible un equilibrio entre las necesidades de los individuos - las organizaciones - el mundo social. La gestión por competencias llevada al mundo laboral, hace evidente la inadecuada relación entre los sistemas educativo - productivo, y la necesidad de buscar un modelo de competencias que haga posible un equilibrio entre las necesidades de los individuos - las organizaciones - el mundo social.</p>
      <span class="evoke-montserrat-medium blog-box-content__button">Leer más</span>
    </div>
  </div>
  <div class="blog-box2">
    <div class="blog-box2__img">
      <img src="img/foto_blog_2.png" alt="hands" width="934px" height="247">
      <div class="blog-box2__mask"></div>
    </div>
    <div class="blog-box-content">
      <span class="evoke-gandhisans-italic blog-box-content__admin">By admin In Blog Posted April 17, 2017</span>
      <p class="evoke-montserrat-semibold blog-box-content__title">La transformación del talento</p>
      <div class="blog-ruler"></div>
      <p class="evoke-gandhisans-regular blog-box-content__paragraph">Pocas cosas en la vida se pueden generalizar, sin embargo en nuestro tiempo “muchos seres humanos perciben que están viviendo equivocadamente y permanecen allí; otros toman la rienda de sus vidas y rectifican, más hay aquellos que se encuentran atados e inmersos en sus convicciones, en sus miedos e inseguridades, y no logran salir. Pocas cosas en la vida se pueden generalizar, sin embargo en nuestro tiempo “muchos seres humanos perciben que están viviendo equivocadamente y permanecen allí; otros toman la rienda de sus vidas y rectifican, más hay aquellos que se encuentran atados e inmersos en sus convicciones, en sus miedos e inseguridades, y no logran salir.</p>
      <span class="evoke-montserrat-medium blog-box-content__button">Leer más</span>
    </div>
  </div>
  <span class="evoke-montserrat-medium main-buton main-button blog-button">Ir al blog</span>
</section>
{# Nuestra Cultura #}
<section class="cultura">
  <p class="evoke-montserrat-bold cultura-title">Nuestra Cultura</p>
  <div class="index-cultura__ruler"></div>
  <div class="cultura-box1">
    <div class="cultura-box1__card">
      <div class="cultura-box1__card-hex">{# div con hexagono e icon #}
        <img src="img/icono_mision.png" alt="flag" width="45" height="51">
      </div> 
      <p class="evoke-montserrat-semibold cultura-box1__card-title">Misión</p>
      <div class="box1-ruler"></div>
      <p class="evoke-gandhisans-regular cultura-box1__card-paragraph">Incrementar el impacto social y económico de personas, equipos y organizaciones a través de retarlos y acompañarlos hacia la creación de un futuro abundante y con significado.</p>
    </div>
    <div class="cultura-box1__card">
      <div class="cultura-box1__card-hex">{# div con hexagono e icon #}
        <img src="img/icono_vision.png" alt="eye" width="57" height="33">
      </div>
      <p class="evoke-montserrat-semibold cultura-box1__card-title">Visión</p>
      <div class="box1-ruler"></div>
      <p class="evoke-gandhisans-regular cultura-box1__card-paragraph">Convertirnos en la empresa número uno en desarrollo humano para empresas y organizaciones de alto desempeño en el continente americano.</p>
    </div>
  </div>
  <div class="cultura-box2">
    <div class="cultura-box2__card">
      <div class="cultura-box1__card-hex">{# div con hexagono e icon #}
        <img src="img/icono_valores.png" alt="cup" width="49" height="54">
      </div>
      <p class="evoke-montserrat-semibold cultura-box2__card-title">Valores</p>
    </div>
    <div class="box2-ruler"></div>
    <div class="cultura-box2__content">
      <div class="cultura-box2__subcontent">
        <p class="evoke-gandhisans-bold">Toma responsabilidad</p>
        <span class="evoke-gandhisans-regular">Reconocer que tenemos la libertad de elegir cómo interpretar, sentirnos y actuar en cada situación, nos da el poder de crear nuestra realidad</span>
      </div>
      <div class="cultura-box2__subcontent">
        <p class="evoke-gandhisans-bold">Encuentra claridad</p>
        <span class="evoke-gandhisans-regular">La capacidad de identificar dónde creamos mayor impacto con  nuestro tiempo, energía, y esfuerzo, nos permite invertirlos efectivamente para cumplir con nuestro propósito</span>
      </div>
      <div class="cultura-box2__subcontent">
        <p class="evoke-gandhisans-bold">Sé curioso</p>
        <span class="evoke-gandhisans-regular">Reconocer que tenemos la libertad de elegir cómo interpretar, sentirnos y actuar en cada situación, nos da el poder de crear nuestra realidad</span>
      </div>
      <div class="cultura-box2__subcontent">
        <p class="evoke-gandhisans-bold">Mantente con hambre</p>
        <span class="evoke-gandhisans-regular">La mejora continua nace a partir de una insatisfacción positiva, el alto desempeño para crear  los mas grandes resultados  tienen un precio que estamos dispuestos a pagar</span>
      </div>
    </div>    
  </div>
  <div class="cultura-box3">
    <span class="evoke-montserrat-medium main-button cultura-button">Conoce más</span>
  </div>
</section>
{% endblock %}