{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
Quiénes Somos
{% endblock %}

{% block content %}
<section class="quienes-somos-view">
  {# Banner #}
  <div class="quienes-somos-view__header">
    <div class="quienes-somos-view__header-continer">
      <p>"Todo el mundo es un genio, pero si vas a juzgar a un pez por su capacidad de trepar a un árbol, vivirá toda su vida creyendo que es estúpido"</p>
      <span class="evoke-gandhisans-normal"> - Albert Einstein</span>
    </div>
  </div>
  {# Title #}
  <div class="quienes-somos-view__title">
    <p class="evoke-montserrat-bold">Quiénes somos</p>
    <span class="evoke-gandhisans-normal">Somos una empresa dedicada a generar cambios positivos en empresas, organizaciones e instituciones a través del desarrollo de su gente, la mejora de sus procesos y la alineación con su <b>cultura</b>. Estamos convencidos de que los procesos y estrategias solo funcionan cuando son congruentes con la identidad y mentalidad de las personas. Es por eso que nos enfocamos a que nuestros clientes tengan un profundo entendimiento del ser humano y sus relaciones interpersonales, con el fin de incorporar soft skills que les permitan crear equipos de <b>alto desempeño</b> a través de nuestros servicios.</span>
  </div>
  {# Evoke Genius #}
  <div>
  
  </div>
  {# Nuestra Cultura #}
  <div class="quienes-somos-view__nuestra-cultura">
    <p class="evoke-montserrat-bold quienes-somos-view__nuestra-cultura__box1">Nuestra cultura</p>
    <div class="quienes-somos-view__nuestra-cultura__box2">
      {# Card 1 #}
      <div class="quienes-somos-view__nuestra-cultura-card nc-card1">
        <div class="nc-hex">
          <img src="img/icono_mision.png" alt="flag" width="28.7" height="32.5">
        </div>
        <div class="nc-hex__rule"></div>
        <p class="evoke-montserrat-semibold nc-title">Misión</p>
        <span class="evoke-gandhisans-normal nc-subtitle">Incrementar el impacto social y económico de personas, equipos y organizaciones a través de retarlos y acompañarlos hacia la creación de un futuro abundante y con significado.</span>
      </div>
      {# Card 2 #}
      <div class="quienes-somos-view__nuestra-cultura-card nc-card2">
        <div class="nc-hex">
          <img src="img/icono_vision.png" alt="eye" width="36.3" height="21">
        </div>
        <div class="nc-hex__rule"></div>
        <p class="evoke-montserrat-semibold nc-title">Visión</p>
        <span class="evoke-gandhisans-normal nc-subtitle">Convertirnos en la empresa número uno en desarrollo humano para empresas y organizaciones de alto desempeño en el continente americano.</span>
      </div>
      {# Card 3 #}
      <div class="quienes-somos-view__nuestra-cultura-card nc-card3">
        <div class="nc-hex">
          <img src="img/icono_valores.png" alt="cup" width="31.7" height="34.9">
        </div>
        <div class="nc-hex__rule"></div>
        <p class="evoke-montserrat-semibold nc-title">Valores</p>
        {# Valores Description #}
        <div class="nc-card3__subbox">
          <div class="subbox-1">
            <p class=""><b>Toma responsabilidad</b></p>
            <span class="evoke-gandhisans-normal">Reconocer que tenemos la libertad de elegir cómo interpretar, sentirnos y actuar en cada situación, nos da el poder de crear nuestra realidad</span>
            <p class=""><b>Sé curioso</b></p>
            <span class="evoke-gandhisans-normal">Reconocer que tenemos la libertad de elegir cómo interpretar, sentirnos y actuar en cada situación, nos da el poder de crear nuestra realidad</span>
          </div>
           <div class="subbox-2">
            <p class=""><b>Encuentra claridad</b></p>
            <span class="evoke-gandhisans-normal">La capacidad de identificar dónde creamos mayor impacto con  nuestro tiempo, energía, y esfuerzo, nos permite invertirlos efectivamente para cumplir con nuestro propósito</span>
            <p class=""><b>Mantente con hambre</b></p>
            <span class="evoke-gandhisans-normal">La mejora continua nace a partir de una insatisfacción positiva, el alto desempeño para crear  los mas grandes resultados  tienen un precio que estamos dispuestos a pagar</span>
          </div>         
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}