{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
Recursos
{% endblock %}

{% block content %}
<section class="recursos-view">
  <p class="evoke-montserrat-bold recursos-view__title">Recursos</p>
  <div class="recursos-view__hr"></div>
  <div class="recursos-view__number evoke-montserrat-light">
    <span class="recursos-view__number-box">Recurso 1</span>
    <span class="recursos-view__number-box">Recurso 2</span>
    <span class="recursos-view__number-box">Recurso 3</span>
    <span class="recursos-view__number-box">Recurso 4</span>
    <span class="recursos-view__number-box">Recurso 5</span>
  </div>
  <div class="recursos-view__container">
    <div class="recursos-view__container-card">
      <img src="img/recursos_profile.png" alt="picture" width="251" height="236">
      <div class="recursos-view__container-card-info">
        <span class="evoke-gandhisans-italic recursos-view__container-card__post">Posted April 17, 2017</span>  
        <p class="evoke-montserrat-semibold recursos-view__container-card__title">La transformación del talento</p>
      </div>
      <div class="recursos-view__container-card-mask">
        <div class="recursos-view__container-card-mask__content">
          <p class="evoke-montserrat-semibold mask-paragraph-recursos">La transformación del talento</p>
          <div class="mask-post-recursos">
            <span class="evoke-gandhisans-regular">Posted April, </span>
            <span class="evoke-gandhisans-regular">2017</span>
          </div>
        </div>
      </div>
    </div>
    <div class="recursos-view__container-card">
      <img src="img/recursos_profile.png" alt="picture" width="251" height="236">
      <div class="recursos-view__container-card-info">
        <span class="evoke-gandhisans-italic recursos-view__container-card__post">Posted April 17, 2017</span>
        <p class="evoke-montserrat-semibold recursos-view__container-card__title">La transformación del talento</p>
      </div>
      <div class="recursos-view__container-card-mask">
        <div class="recursos-view__container-card-mask__content">
          <p class="evoke-montserrat-semibold mask-paragraph-recursos">La transformación del talento</p>
          <div class="mask-post-recursos" class="">
            <span>Posted April, </span>
            <span>2017</span>
          </div>
        </div>
      </div>
    </div>
    <div class="recursos-view__container-card">
      <img src="img/recursos_profile.png" alt="picture" width="251" height="236">
      <div class="recursos-view__container-card-info">
        <span class="evoke-gandhisans-italic recursos-view__container-card__post">Posted April 17, 2017</span>
        <p class="evoke-montserrat-semibold recursos-view__container-card__title">La transformación del talento</p>
      </div>
      <div class="recursos-view__container-card-mask">
        <div class="recursos-view__container-card-mask__content">
          <p class="evoke-montserrat-semibold mask-paragraph-recursos">La transformación del talento</p>
          <div class="mask-post-recursos" class="">
            <span>Posted April, </span>
            <span>2017</span>
          </div>
        </div>      
      </div>
    </div>
    <div class="recursos-view__container-card">
      <img src="img/recursos_profile.png" alt="picture" width="251" height="236">
      <div class="recursos-view__container-card-info">
        <span class="evoke-gandhisans-italic recursos-view__container-card__post">Posted April 17, 2017</span>
        <p class="evoke-montserrat-semibold recursos-view__container-card__title">La transformación del talento</p>
      </div>
      <div class="recursos-view__container-card-mask">
        <div class="recursos-view__container-card-mask__content">
          <p class="evoke-montserrat-semibold mask-paragraph-recursos">La transformación del talento</p>
          <div class="mask-post-recursos" class="">
            <span>Posted April, </span>
            <span>2017</span>
          </div>
        </div>      
      </div>
    </div>
    <div class="recursos-view__container-card">
      <img src="img/recursos_profile.png" alt="picture" width="251" height="236">
      <div class="recursos-view__container-card-info">
        <span class="evoke-gandhisans-italic recursos-view__container-card__post">Posted April 17, 2017</span>
        <p class="evoke-montserrat-semibold recursos-view__container-card__title">La transformación del talento</p>
      </div>
      <div class="recursos-view__container-card-mask">
        <div class="recursos-view__container-card-mask__content">
          <p class="evoke-montserrat-semibold mask-paragraph-recursos">La transformación del talento</p>
          <div class="mask-post-recursos" class="">
            <span>Posted April, </span>
            <span>2017</span>
          </div>
        </div>      
      </div>
    </div>
    <div class="recursos-view__container-card">
      <img src="img/recursos_profile.png" alt="picture" width="251" height="236">
      <div class="recursos-view__container-card-info">
        <span class="evoke-gandhisans-italic recursos-view__container-card__post">Posted April 17, 2017</span>
        <p class="evoke-montserrat-semibold recursos-view__container-card__title">La transformación del talento</p>
      </div>
      <div class="recursos-view__container-card-mask">
        <div class="recursos-view__container-card-mask__content">
          <p class="evoke-montserrat-semibold mask-paragraph-recursos">La transformación del talento</p>
          <div class="mask-post-recursos" class="">
            <span>Posted April, </span>
            <span>2017</span>
          </div>
        </div>      
      </div>
    </div>
    <div class="recursos-view__container-card">
      <img src="img/recursos_profile.png" alt="picture" width="251" height="236">
      <div class="recursos-view__container-card-info">
        <span class="evoke-gandhisans-italic recursos-view__container-card__post">Posted April 17, 2017</span>
        <p class="evoke-montserrat-semibold recursos-view__container-card__title">La transformación del talento</p>
      </div>
      <div class="recursos-view__container-card-mask">
        <div class="recursos-view__container-card-mask__content">
          <p class="evoke-montserrat-semibold mask-paragraph-recursos">La transformación del talento</p>
          <div class="mask-post-recursos" class="">
            <span>Posted April, </span>
            <span>2017</span>
          </div>
        </div>      
      </div>
    </div>
    <div class="recursos-view__container-card">
      <img src="img/recursos_profile.png" alt="picture" width="251" height="236">
      <div class="recursos-view__container-card-info">
        <span class="evoke-gandhisans-italic recursos-view__container-card__post">Posted April 17, 2017</span>
        <p class="evoke-montserrat-semibold recursos-view__container-card__title">La transformación del talento</p>
      </div>
      <div class="recursos-view__container-card-mask">
        <div class="recursos-view__container-card-mask__content">
          <p class="evoke-montserrat-semibold mask-paragraph-recursos">La transformación del talento</p>
          <div class="mask-post-recursos" class="">
            <span>Posted April, </span>
            <span>2017</span>
          </div>
        </div>      
      </div>
    </div>
    <div class="recursos-view__container-card">
      <img src="img/recursos_profile.png" alt="picture" width="251" height="236">
      <div class="recursos-view__container-card-info">
        <span class="evoke-gandhisans-italic recursos-view__container-card__post">Posted April 17, 2017</span>
        <p class="evoke-montserrat-semibold recursos-view__container-card__title">La transformación del talento</p>    
      </div>
      <div class="recursos-view__container-card-mask">
        <div class="recursos-view__container-card-mask__content">
          <p class="evoke-montserrat-semibold mask-paragraph-recursos">La transformación del talento</p>
          <div class="mask-post-recursos" class="">
            <span>Posted April, </span>
            <span>2017</span>
          </div>
        </div>      
      </div>
    </div>
  </div>
</section>
{% endblock %}