{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
Servicios
{% endblock %}

{% block content %}
<section class="servicios-view">
  <p class="evoke-montserrat-bold servicios-view__title">Servicios</p>
  <div class="servicios-container"> {# container with all hexagons #}
    <div class="servicios__card"> 
      <div class="hex2">
        <div class="hex-mask"></div>
        <a href="change-management.html"><img src="img/management.png" alt="engrane" width="125" height="116"></a>
      </div>
      <p class="evoke-montserrat-medium">Change Management</p>
      <div class="servicios__card-hr"></div>
      <div class="servicios__card-vr1"></div>
    </div>
    <div class="servicios__card"> 
      <div class="hex2">
        <div class="hex-mask"></div>
        <a href="coaching-ejecutivo.html"><img src="img/coaching.png" alt="engrane" width="95" height="98"></a>
      </div>
      <p class="evoke-montserrat-medium">Coaching Ejecutivo</p>
      <div class="servicios__card-hr"></div>
    </div>
    <div class="servicios__card"> 
      <div class="hex2">
        <div class="hex-mask"></div>
        <a href="workshops.html"><img src="img/workshops.png" alt="engrane" width="89" height="93"></a>
      </div>
      <p class="evoke-montserrat-medium">Workshops</p>
      <div class="servicios__card-vr2"></div>
    </div>
    <div class="servicios__card"> 
      <div class="hex2">
        <div class="hex-mask"></div>
        <a href="mastermind.html"><img src="img/mastermind.png" width="79" height="104"></a>
      </div>
      <p class="evoke-montserrat-medium">Mastermind</p>
    </div>
    <div class="servicios__hex1" data-aos="zoom-out" data-aos-offset="200" data-aos-duration="1000" data-aos-easing="ease-in-sine"></div>
    <div class="servicios__hex2" data-aos="zoom-out" data-aos-offset="200" data-aos-duration="2000" data-aos-easing="ease-in-sine"></div>
    <div class="servicios__hex3" data-aos="zoom-out" data-aos-offset="250" data-aos-duration="1000" data-aos-easing="ease-in-sine"></div>           
  </div>
</section>
{% endblock %}