{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
Servicios
{% endblock %}

{% block content %}
<section class="servicios-view">
  <p class="evoke-montserrat-bold servicios-view__title">Servicios</p>
  <div class="servicios-view__container">
    <div class="servicios-view__container__card">
      
    </div>
  </div>
</section>
{% endblock %}