{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
Workshops
{% endblock %}

{% block content %}
<section class="workshops-view">
  {# Workshops servicios #}
  <div class="workshops-view__main">
    <div class="workshops-view__box1">
      <div class="workshops-view__box1-container">
        <span class="ws-hex"><img src="img/icono_workshops.png" width="20" height="20"></span>
        <p class="evoke-montserrat-bold workshops-view__box1-title">Workshops</p>
      </div>
      <span class="evoke-montserrat-light workshops-view__box1-servicios">Servicios</span>
      <p class="evoke-gandhisans-regular workshops-view__box1-subtitle">Hemos observado que para lograr una transformación sustentable tanto en las personas como en organizaciones, es necesario trabajar con ellos en desarrollar un profundo entendimiento del ser humano,  modificar y alinear creencias limitantes y tomar consciencia sobre cómo funciona cada uno como parte de un sistema. Por eso desarrollamos diversos workshops con el contenido más importante con el fin de brindar a las organizaciones las herramientas necesarias para crear  más impacto con menos esfuerzo.</p>
    </div>
    <div class="workshops-view__box2">
       <img src="img/workshops_main.png" alt="" width="512" height="453">
    </div>
  </div>
  {# En qué se basan #}
  <div class="workshops-view__sec1">
    <p class="evoke-montserrat-bold">¿En qué se basan nuestros workshops?</p>
    <span class="evoke-gandhisans-regular">Todos nuestros workshops combinan los aspectos humanos y los aspectos operativos del management. Están diseñados a partir de diferentes técnicas basadas en  Programación Neurolingüística, Ontología del lenguaje , Psicología Positiva, Coaching,  Logoterapia, Teoría de Sistemas, Aprendizaje Acelerado y herramientas de liderazgo.</span>
  </div>
  {# Qué esperar de los workshops #}
  <div class="workshops-view__sec2">
    <p class="evoke-montserrat-bold">¿Qué esperar de los workshops?</p>
    <span class="evoke-gandhisans-regular">Durante el workshop involucramos a los participantes en dinámicas interactivas, discusiones dinámicas, ejercicios de reflexión, coaching, actividades de feedback y feedforward y diseño de nuevas prácticas con la finalidad de facilitar el aprendizaje a través de observar como funcionan como sistema organizacional.</span>
    <div class="ws-ruler"></div>
  </div>
  {# Nuestros Workshops #}
  <div class="workshops-view__sec3">
     <p class="evoke-montserrat-bold workshops-view__sec3-title">Nuestros Workshops</p>
     <div class="workshops-view__sec3-carousel">
      <div class="workshops-carousel__container">
        {# Carousel Card #}
        <div class="ws-carousel-item">
          <div class="ws-carousel-item__box1">
            <div class="ws__box1-title">
              <p class="evoke-montserrat-semibold">Evoke my</p>
              <span class="evoke-montserrat-semibold">Trust</span>
            </div>
            <div class="ws__box1-subtitle">
              <p class="evoke-gandhisans-regular">Creando</p>
              <span class="evoke-gandhisans-italic">equipos de confianza</span>
            </div>
            <div class="ws__box1-mask"></div>
          </div>
          <div class="ws-carousel-item__box2">
            <p class="evoke-gandhisans-regular">La confianza en equipos de trabajo es elemental para poder delegar y crear una sinergia para trabajar en conjunto por un objetivo en común. Establecer este tipo de relaciones solo es posible a través de un profundo entendimiento de cómo creamos las relaciones humanas al ser parte de un sistema.</p>
            <span class="evoke-montserrat-medium box2-button box2-button__blue">Ver más</span>
          </div>
          <div class="ws-carousel-item__mask"></div>
        </div>
        {# Carousel Card #}
        <div class="ws-carousel-item">
          <div class="ws-carousel-item__box1">
            <div class="ws__box1-title">
              <p class="evoke-montserrat-semibold">Evoke my</p>
              <span class="evoke-montserrat-semibold">Purpose</span>
            </div>
            <div class="ws__box1-subtitle">
              <p class="evoke-gandhisans-regular">Creando</p>
              <span class="evoke-gandhisans-italic">equipos de confianza</span>
            </div>
            <div class="ws__box1-mask"></div>
          </div>
          <div class="ws-carousel-item__box2">
            <p class="evoke-gandhisans-regular">La confianza en equipos de trabajo es elemental para poder delegar y crear una sinergia para trabajar en conjunto por un objetivo en común. Establecer este tipo de relaciones solo es posible a través de un profundo entendimiento de cómo creamos las relaciones humanas al ser parte de un sistema.</p>
            <span class="evoke-montserrat-medium box2-button box2-button__pink">Ver más</span>
          </div>
          <div class="ws-carousel-item__mask"></div>
        </div>
        {# Carousel Card #}
        <div class="ws-carousel-item">
          <div class="ws-carousel-item__box1">
            <div class="ws__box1-title">
              <p class="evoke-montserrat-semibold">Evoke my</p>
              <span class="evoke-montserrat-semibold">Power</span>
            </div>
            <div class="ws__box1-subtitle">
              <p class="evoke-gandhisans-regular">Creando</p>
              <span class="evoke-gandhisans-italic">equipos de confianza</span>
            </div>
            <div class="ws__box1-mask"></div>
          </div>
          <div class="ws-carousel-item__box2">
            <p class="evoke-gandhisans-regular">La confianza en equipos de trabajo es elemental para poder delegar y crear una sinergia para trabajar en conjunto por un objetivo en común. Establecer este tipo de relaciones solo es posible a través de un profundo entendimiento de cómo creamos las relaciones humanas al ser parte de un sistema.</p>
            <span class="evoke-montserrat-medium box2-button box2-button__green">Ver más</span>
          </div>
          <div class="ws-carousel-item__mask"></div>
        </div>
      </div>      
     </div>
  </div>
</section>  
{% endblock %}