<footer class="site-footer">
  <div class="footer-logo">
    <img src="img/evoke_rojo_logo.png" alt="" width="154" height="35">
  </div>
  <div class="footer-menu">
    <ul>
        <li><a href="index.html" class="evoke-montserrat-light">Inicio</a></li>
        <li><a href="servicios.html" class="evoke-montserrat-light">Servicios</a></li>
        <li><a href="recursos.html" class="evoke-montserrat-light">Recursos</a></li>
        <li><a href="" class="evoke-montserrat-light">Quénes somos</a></li>
        <li><a href="" class="evoke-montserrat-light">Contacto</a></li>
    </ul>
  </div>
  <hr class="footer-rule">
  <div class="footer-contact">
    <ul>
        <li class="evoke-montserrat-light"><a href="mailto:contacto@evokemygenius.com">contacto@evokemygenius.com</a></li>
        <li class="evoke-montserrat-light"><a href="tel:+525563581062">Tel: 55. 63. 58. 10. 62</a></li>
        <li class="evoke-montserrat-light"><a href="">www.evokemygenius.com</a></li>
    </ul>
  </div>
  <div class="footer-social">
    <div class="footer-social-box1">
      <a href=""><img src="img/twitter.png" alt="twitter" width="24" height="23.8"></a>
      <a href=""><img src="img/face.png" alt="facebook" width="24" height="23.8"></a>
    </div>
    <div class="footer-social-box2">
      <form action="">
        <label for="" class="evoke-montserrat-light">Newsletter</label>
        <input type="email" class="evoke-montserrat-light">
      </form>
    </div>
    <span class="evoke-montserrat-medium newsletter-button">Enviar</span>
  </div>
</footer>
