.site-footer {
  background-image: url(../img/footer.png)
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 399px;
  display: flex;
  flex-direction: column;
//   justify-content: center;
  align-items: center;
}

.footer-logo {
  margin: 89px 0 34px
}

.footer-menu {
  ul {
    display: flex;
  }
  a {
    color: #ffffff;
    font-size: remify(12px);
    margin-right: 15px;
  }
  a:hover {
    color: #cccccc;
  }
}

.footer-rule {
  border-top: solid 1px #d0d0d0;
  width: 31.56%;
  margin: 21px 0 26px;
}

.footer-contact {
  ul {
    display: flex;
  }
  a {
    color: #ffffff;
    font-size: remify(13px);  
    margin-right: 18px;  
  }
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 33px 0 0;
}

.footer-social-box1 {
  display: flex;
  margin-top: 25px;
  a {
    margin-right: 17.7px
  }
}

.footer-social-box2 {
  form {
    display: flex;
    flex-direction: column;
      label {
        color: #ffffff;
        font-size: remify(13px);
        margin: 0 0 5px 0;
      }
      input {
        border: solid #fefefe 1px;
        border-right: 0;
        background: none;
        height: 32px;
        padding-left: 0.5em;
        color: #ffffff;
        font-size: remify(15px)
      }
  }
}

.newsletter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: remify(11px);
  color: #ffffff;
  background-color: #cccccc;
  width: 66px;
  height: 33px;
  cursor: pointer;
  align-self: flex-end;
}