@font-face
  font-family: 'Montserrat'
  src: url('Montserrat-Thin.eot?#iefix') format('embedded-opentype'),  url('Montserrat-Thin.otf')  format('opentype'),
	     url('Montserrat-Thin.woff') format('woff'), url('Montserrat-Thin.ttf')  format('truetype'), url('Montserrat-Thin.svg#Montserrat-Thin') format('svg')
  font-weight: $thin
  font-style: $normal

.evoke-montserrat-thin
  font-family: 'Montserrat'
  font-style: $normal
  font-weight: $thin

@font-face
  font-family: 'Montserrat'
  src: url('Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),  url('Montserrat-SemiBold.otf')  format('opentype'),
	     url('Montserrat-SemiBold.woff') format('woff'), url('Montserrat-SemiBold.ttf')  format('truetype'), url('Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg')
  font-weight: normal
  font-style: normal

.evoke-montserrat-semibold
  font-family: 'Montserrat'
  font-style: $normal
  font-weight: $semibold

@font-face
  font-family: 'Montserrat'
  src: url('Montserrat-Regular.eot?#iefix') format('embedded-opentype'),  url('Montserrat-Regular.otf')  format('opentype'),
	     url('Montserrat-Regular.woff') format('woff'), url('Montserrat-Regular.ttf')  format('truetype'), url('Montserrat-Regular.svg#Montserrat-Regular') format('svg')
  font-weight: normal
  font-style: normal

.evoke-montserrat-regular
  font-family: 'Montserrat'
  font-style: $normal
  font-weight: $normal

@font-face
  font-family: 'Montserrat'
  src: url('Montserrat-Light.eot?#iefix') format('embedded-opentype'),  url('Montserrat-Light.otf')  format('opentype'),
	     url('Montserrat-Light.woff') format('woff'), url('Montserrat-Light.ttf')  format('truetype'), url('Montserrat-Light.svg#Montserrat-Light') format('svg')
  font-weight: normal
  font-style: normal

.evoke-montserrat-light
  font-family: 'Montserrat'
  font-style: $normal
  font-weight: $light

@font-face
  font-family: 'Montserrat-ExtraLight'
  src: url('Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),  url('Montserrat-ExtraLight.otf')  format('opentype'),
	     url('Montserrat-ExtraLight.woff') format('woff'), url('Montserrat-ExtraLight.ttf')  format('truetype'), url('Montserrat-ExtraLight.svg#Montserrat-ExtraLight') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Montserrat-ExtraBold'
  src: url('Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),  url('Montserrat-ExtraBold.otf')  format('opentype'),
	     url('Montserrat-ExtraBold.woff') format('woff'), url('Montserrat-ExtraBold.ttf')  format('truetype'), url('Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Montserrat-Bold'
  src: url('Montserrat-Bold.eot?#iefix') format('embedded-opentype'),  url('Montserrat-Bold.otf')  format('opentype'),
	     url('Montserrat-Bold.woff') format('woff'), url('Montserrat-Bold.ttf')  format('truetype'), url('Montserrat-Bold.svg#Montserrat-Bold') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Montserrat-Black'
  src: url('Montserrat-Black.eot?#iefix') format('embedded-opentype'),  url('Montserrat-Black.otf')  format('opentype'),
	     url('Montserrat-Black.woff') format('woff'), url('Montserrat-Black.ttf')  format('truetype'), url('Montserrat-Black.svg#Montserrat-Black') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'GandhiSerif-Regular'
  src: url('GandhiSerif-Regular.eot?#iefix') format('embedded-opentype'),  url('GandhiSerif-Regular.otf')  format('opentype'),
	     url('GandhiSerif-Regular.woff') format('woff'), url('GandhiSerif-Regular.ttf')  format('truetype'), url('GandhiSerif-Regular.svg#GandhiSerif-Regular') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'GandhiSerif-Italic'
  src: url('GandhiSerif-Italic.eot?#iefix') format('embedded-opentype'),  url('GandhiSerif-Italic.otf')  format('opentype'),
	     url('GandhiSerif-Italic.woff') format('woff'), url('GandhiSerif-Italic.ttf')  format('truetype'), url('GandhiSerif-Italic.svg#GandhiSerif-Italic') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'GandhiSerif-BoldItalic'
  src: url('GandhiSerif-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('GandhiSerif-BoldItalic.otf')  format('opentype'),
	     url('GandhiSerif-BoldItalic.woff') format('woff'), url('GandhiSerif-BoldItalic.ttf')  format('truetype'), url('GandhiSerif-BoldItalic.svg#GandhiSerif-BoldItalic') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'GandhiSerif-Bold'
  src: url('GandhiSerif-Bold.eot?#iefix') format('embedded-opentype'),  url('GandhiSerif-Bold.otf')  format('opentype'),
	     url('GandhiSerif-Bold.woff') format('woff'), url('GandhiSerif-Bold.ttf')  format('truetype'), url('GandhiSerif-Bold.svg#GandhiSerif-Bold') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'GandhiSans-Regular'
  src: url('GandhiSans-Regular.eot?#iefix') format('embedded-opentype'),  url('GandhiSans-Regular.otf')  format('opentype'),
	     url('GandhiSans-Regular.woff') format('woff'), url('GandhiSans-Regular.ttf')  format('truetype'), url('GandhiSans-Regular.svg#GandhiSans-Regular') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'GandhiSans-Italic'
  src: url('GandhiSans-Italic.eot?#iefix') format('embedded-opentype'),  url('GandhiSans-Italic.otf')  format('opentype'),
	     url('GandhiSans-Italic.woff') format('woff'), url('GandhiSans-Italic.ttf')  format('truetype'), url('GandhiSans-Italic.svg#GandhiSans-Italic') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'GandhiSans-BoldItalic'
  src: url('GandhiSans-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('GandhiSans-BoldItalic.otf')  format('opentype'),
	     url('GandhiSans-BoldItalic.woff') format('woff'), url('GandhiSans-BoldItalic.ttf')  format('truetype'), url('GandhiSans-BoldItalic.svg#GandhiSans-BoldItalic') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'GandhiSans-Bold'
  src: url('GandhiSans-Bold.eot?#iefix') format('embedded-opentype'),  url('GandhiSans-Bold.otf')  format('opentype'),
	     url('GandhiSans-Bold.woff') format('woff'), url('GandhiSans-Bold.ttf')  format('truetype'), url('GandhiSans-Bold.svg#GandhiSans-Bold') format('svg')
  font-weight: normal
  font-style: normal

