@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat-Thin/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-Thin/Montserrat-Thin.otf')  format('opentype'),
	     url('../fonts/Montserrat-Thin/Montserrat-Thin.woff') format('woff'), url('../fonts/Montserrat-Thin/Montserrat-Thin.ttf')  format('truetype'), url('../fonts/Montserrat-Thin/Montserrat-Thin.svg#Montserrat-Thin') format('svg')
  font-weight: $thin
  font-style: $normal

@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.otf')  format('opentype'),
	     url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff') format('woff'), url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.ttf')  format('truetype'), url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg')
  font-weight: $semibold
  font-style: $normal

@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-Regular/Montserrat-Regular.otf')  format('opentype'),
	     url('../fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular/Montserrat-Regular.ttf')  format('truetype'), url('../fonts/Montserrat-Regular/Montserrat-Regular.svg#Montserrat-Regular') format('svg')
  font-weight: $regular
  font-style: $normal

@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat-Light/Montserrat-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-Light/Montserrat-Light.otf')  format('opentype'),
	     url('../fonts/Montserrat-Light/Montserrat-Light.woff') format('woff'), url('../fonts/Montserrat-Light/Montserrat-Light.ttf')  format('truetype'), url('../fonts/Montserrat-Light/Montserrat-Light.svg#Montserrat-Light') format('svg')
  font-weight: $light
  font-style: $normal

@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat-ExtraLight/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-ExtraLight/Montserrat-ExtraLight.otf')  format('opentype'),
	     url('../fonts/Montserrat-ExtraLight/Montserrat-ExtraLight.woff') format('woff'), url('../fonts/Montserrat-ExtraLight/Montserrat-ExtraLight.ttf')  format('truetype'), url('../fonts/Montserrat-ExtraLight/Montserrat-ExtraLight.svg#Montserrat-ExtraLight') format('svg')
  font-weight: $extralight
  font-style: $normal

@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.otf')  format('opentype'),
	     url('../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.woff') format('woff'), url('../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.ttf')  format('truetype'), url('../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg')
  font-weight: $extrabold
  font-style: $normal

@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat-Bold/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-Bold/Montserrat-Bold.otf')  format('opentype'),
	     url('../fonts/Montserrat-Bold/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold/Montserrat-Bold.ttf')  format('truetype'), url('../fonts/Montserrat-Bold/Montserrat-Bold.svg#Montserrat-Bold') format('svg')
  font-weight: $bold
  font-style: $normal

@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat-Black/Montserrat-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-Black/Montserrat-Black.otf')  format('opentype'),
	     url('../fonts/Montserrat-Black/Montserrat-Black.woff') format('woff'), url('../fonts/Montserrat-Black/Montserrat-Black.ttf')  format('truetype'), url('../fonts/Montserrat-Black/Montserrat-Black.svg#Montserrat-Black') format('svg')
  font-weight: $black
  font-style: $normal

@font-face 
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat-Medium/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-Medium/Montserrat-Medium.otf')  format('opentype'),
	     url('../fonts/Montserrat-Medium/Montserrat-Medium.woff') format('woff'), url('../fonts/Montserrat-Medium/Montserrat-Medium.ttf')  format('truetype'), url('../fonts/Montserrat-Medium/Montserrat-Medium.svg#Montserrat-Medium') format('svg')
  font-weight: $medium
  font-style: $normal

@font-face {
  font-family: 'GandhiSans'
  src: url('../fonts/GandhiSans-Regular/GandhiSans-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/GandhiSans-Regular/GandhiSans-Regular.otf')  format('opentype'),
	     url('../fonts/GandhiSans-Regular/GandhiSans-Regular.woff') format('woff'), url('../fonts/GandhiSans-Regular/GandhiSans-Regular.ttf')  format('truetype'), url('../fonts/GandhiSans-Regular/GandhiSans-Regular.svg#GandhiSans-Regular') format('svg')
  font-weight: $normal
  font-style: $normal
}

@font-face 
  font-family: 'GandhiSans-italic'
  src: url('../fonts/GandhiSans-Italic/GandhiSans-Italic.eot?#iefix') format('embedded-opentype'),  url('../fonts/GandhiSans-Italic/GandhiSans-Italic.otf')  format('opentype'),
	     url('../fonts/GandhiSans-Italic/GandhiSans-Italic.woff') format('woff'), url('../fonts/GandhiSans-Italic/GandhiSans-Italic.ttf')  format('truetype'), url('../fonts/GandhiSans-Italic/GandhiSans-Italic.svg#GandhiSans-Italic') format('svg')
  font-weight: $normal
  font-style: $italic

@font-face 
  font-family: 'GandhiSans'
  src: url('../fonts/GandhiSans-Bold/GandhiSans-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/GandhiSans-Bold/GandhiSans-Bold.otf')  format('opentype'),
	     url('../fonts/GandhiSans-Bold/GandhiSans-Bold.woff') format('woff'), url('../fonts/GandhiSans-Bold/GandhiSans-Bold.ttf')  format('truetype'), url('../fonts/GandhiSans-Bold/GandhiSans-Bold.svg#GandhiSans-Bold') format('svg')
  font-weight: $bold
  font-style: $normal
  
.evoke-montserrat-thin
  font-family: 'Montserrat'
  font-weight: $thin
  font-style: $normal

.evoke-montserrat-semibold
  font-family: 'Montserrat'
  font-weight: $semibold
  font-style: $normal

.evoke-montserrat-regular
  font-family: 'Montserrat'
  font-weight: $regular
  font-style: $normal

.evoke-montserrat-light
  font-family: 'Montserrat'
  font-weight: $light
  font-style: $normal

.evoke-montserrat-extralight
  font-family: 'Montserrat'
  font-weight: $extralight
  font-style: $normal

.evoke-montserrat-extrabold
  font-family: 'Montserrat'
  font-weight: $extrabold
  font-style: $normal

.evoke-montserrat-bold
  font-family: 'Montserrat'
  font-weight: $bold
  font-style: $normal

.evoke-montserrat-black
  font-family: 'Montserrat'
  font-weight: $black
  font-style: $normal

.evoke-montserrat-medium
  font-family: 'Montserrat'
  font-weight: $medium
  font-style: $normal

.evoke-gandhisans-regular
  font-family: 'GandhiSans'
  font-weight: $normal
	font-style: $normal

.evoke-gandhisans-italic
  font-family: 'GandhiSans-italic'
  font-weight: $normal
  font-style: $italic

.evoke-gandhisans-bold
  font-family: 'GandhiSans'
  font-weight: $bold
  font-style: $normal